<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1> Users</h1>
<table border="5">
    <tr style="color: blueviolet">
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/{id}(id=${user.getId()})}">Show user</a>

        </td>
    </tr>
</table>

<a th:href="@{/new}">Create new user</a>
</body>
</html>