<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{username}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>

    <br/>
    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password">
    <br />
    <label for="role">Enter role:</label>
    <input type="role" th:field="*{roles}" id="role">
    <br>

    <input type="submit" value="CREATE"/>
</form>
<form th:method="POST" th:action="@{/logout}">
    <button type="submit">Log out</button>
</form>

</body>
</html>
